# Build results
bin/
obj/

# Visual Studio
.vs/
*.vsidx

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE caches
.idea/
*.cache

# Logs
*.log

# OS files
Thumbs.db
Desktop.ini

# Publish output
publish/
